{% extends "layout.html" %}
{% block body %}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <p class="display-4 font-weight-bold">Resultados</p>
            <table class="table table-hover mb-3" id="table-accounts">
                <thead class="thead text-white table-thead" style="background-color: #051c48;">
                  <tr>
                    <th scope="col">Usuario</th>
                    <th scope="col">Texto del Tweet</th>
                    <th scope="col">Fecha de creación</th>
                    <th scope="col">Link</th>
                  </tr>
                </thead>
                <tbody>
                    {% for element in data %}
                        <tr class="table-success">                                
                            <td scope="row">{{ element['screen_name'] }}</td>
                            <td scope="row">{{ element['full_text'] }}</td>
                            <td scope="row">{{ element['created'] }}</td>
                            <td scope="row"><a href="http://{{ element['link'] }}" target="_blank">{{ element['link'] }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>   
        </div>
    </div>
</div>


{% endblock %}